:root {
    --ss-c-white: hsl(0, 0%, 100%);
    --ss-c-black: hsl(0, 0%, 9%);
    --ss-c-gray: rgb(100, 100, 100);
}

* {
    &::after, &::before{
        box-sizing: border-box;
        margin: 0;
        position: relative;
        font-weight: normal;
    }
}

body {
    min-height: 100vh;
    color: var(--ss-c-black);
    background: var(--ss-c-white);
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

th {
    text-transform: uppercase;
}

